#######################################
# Unity (base)
#######################################
unityProject/.utmp/
unityProject/[Ll]ibrary/
unityProject/[Tt]emp/
unityProject/[Oo]bj/
unityProject/[Bb]uild/
unityProject/[Bb]uilds/
unityProject/[Ll]ogs/
unityProject/[Uu]ser[Ss]ettings/
unityProject/*.log
unityProject/*.blend1
unityProject/*.blend1.meta
unityProject/[Mm]emoryCaptures/
unityProject/[Rr]ecordings/
unityProject/[Aa]ssets/Plugins/Editor/JetBrains*
unityProject/*.DotSettings.user
unityProject/.vs/
unityProject/.gradle/
unityProject/ExportedObj/
unityProject/.consulo/
unityProject/*.csproj
unityProject/*.unityproj
unityProject/*.sln
unityProject/*.suo
unityProject/*.tmp
unityProject/*.user
unityProject/*.userprefs
unityProject/*.pidb
unityProject/*.booproj
unityProject/*.svd
unityProject/*.pdb
unityProject/*.mdb
unityProject/*.opendb
unityProject/*.VC.db
unityProject/*.pidb.meta
unityProject/*.pdb.meta
unityProject/*.mdb.meta
unityProject/sysinfo.txt
unityProject/mono_crash.*
unityProject/*.apk
unityProject/*.aab
unityProject/*.unitypackage
unityProject/*.unitypackage.meta
unityProject/*.app
unityProject/crashlytics-build.properties
unityProject/InitTestScene*.unity*
unityProject/ServerData
unityProject/[Aa]ssets/StreamingAssets/aa*
unityProject/[Aa]ssets/AddressableAssetsData/link.xml*
unityProject/[Aa]ssets/Addressables_Temp*
unityProject/[Aa]ssets/AddressableAssetsData/*/*.bin*
unityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
unityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
unityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
unityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
unityProject/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

#######################################
# Python
#######################################
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.Python
build/
dist/
*.egg-info/
.eggs/

#######################################
# macOS
#######################################
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
.Spotlight-V100
.Trashes
Icon?
._*

#######################################
# Windows
#######################################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#######################################
# Editor / IDE
#######################################
.vscode/
.idea/
*.iml
*.sw?
